@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

@keyframes shakeX {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(25deg);
  }
}

.shakeX {
  animation: shakeX 1s infinite;
}
